/* MILES UI TABLE 2 */
.mui-table2 {
	border: 2px solid $miles-blue;
}

.mui-table2 thead {
	background-color: $miles-blue;
	color: #FAFAFA;
}

.mui-table2.table > thead > tr > th {
	border-bottom: 0;
}

.mui-table2 tr:first-child td {
	border-top: 0;
}

.mui-table2.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #FBFBFB;
}

.mui-table2 .mui-table2-empty {
	text-align: center;
}
