/* MILES UI CARD */
.mui-card {
	box-sizing: border-box;
	border: 2px solid #2A6AAB;
	color: #333;
}

.mui-card.mui-card-borderless {
	border: none;
}

.mui-card-header {
	padding: 10px 20px;
	background-color: $miles-blue;
	color: #FFF;
}

.mui-card-header h1 {
	margin: 0;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 2px;
	color: #FFF;
}

.mui-card p {
  margin: 0 0 1em;
  color: #333;
}

.mui-card-block {
	padding: 20px;
	background-color: #FFF;
}

.mui-card-block h2 {
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}
