/* MILES UI PANEL */
.mui-panel {
	border-radius: 0;
}

.mui-panel .panel-heading {
	background-color: $miles-blue;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	color: #FAFAFA;
}

.mui-panel {
	border: 2px solid $miles-blue;
}
