/* Color Scale */
$k: #000;
$grey-a: #242424;
$grey-b: #434343;
$grey-c: #656565;
$grey-d: #898989;
$grey-e: #afafaf;
$grey-f: #d6d6d6;
$w: #fff;

:root {
  --primary: #{$k};
  --secondary: #{$w};
  --grey-1: #{$grey-a};
  --grey-2: #{$grey-b};
  --grey-3: #{$grey-c};
  --grey-4: #{$grey-d};
  --grey-5: #{$grey-e};
  --grey-6: #{$grey-f};
}
