/* Standard Size Scale */
$s4: 4px;
$s8: 8px;
$s12: 12px;
$s14: 14px;
$s16: 16px;
$s18: 18px;
$s20: 20px;
$s24: 24px;
$s30: 30px;
$s32: 32px;
$s36: 36px;
$s48: 48px;
$s60: 60px;
$s64: 64px;
$s72: 72px;
$s96: 96px;
$s128: 128px;
$s192: 192px;
$s256: 256px;
$s384: 384px;
$s512: 512px;
$s640: 640px;
$s768: 768px;
