@use '../../styles/color';

.btn {
  --bg: #{color.$primary};
  --color: #{color.$alt};
  --padding: 0.5rem 1rem;

  background: var(--bg);
  color: var(--color);
  font-weight: bold;
  padding: var(--padding);

  &.outline {
    --bg: unset;
    --color: #{color.$primary};

    background: var(--bg);
    color: var(--color);
    position: relative;

    &::before {
      --border: 0.2rem solid color.$primary;

      border: var(--border);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
