.btn {
  --bg: var(--primary);
  --color: var(--secondary);
  --padding: 0.5rem 1rem;

  background: var(--bg);
  color: var(--color);
  font-weight: bold;
  padding: var(--padding);

  &.outline {
    --bg: unset;
    --border: 0.2rem solid var(--primary);
    --color: var(--primary);

    background: var(--bg);
    color: var(--color);
    position: relative;

    &::before {
      border: var(--border);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
