@use '../../styles/color';

.btn {
  background-color: color.$primary;
  color: color.$alt;
  font-weight: bold;
  padding: 0.5rem 1rem;

  &.outline {
    background-color: unset;
    color: color.$primary;
    position: relative;

    &::before {
      border: 0.2rem solid color.$primary;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
