*,
*::after,
*::before {
  box-sizing: border-box;
}

$default-font-size: 16px;
$default-color: #000;
$default-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  color: $default-color;
  font: normal $default-font-size $default-font-family;
  line-height: 1.25em;

  margin: 0;
}

button {
  background-color: unset;
  border: 0;
  font-size: 1rem;

  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;

  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

a,
article,
aside,
dd,
dl,
figure,
ol,
section,
ul {
  margin: 0;
  padding: 0;
}
