$size-4: 4px;
$size-8: 8px;
$size-12: 12px;
$size-16: 16px;
$size-24: 24px;
$size-32: 32px;
$size-48: 48px;
$size-64: 64px;
$size-96: 96px;
$size-128: 128px;
$size-192: 192px;
$size-256: 256px;
$size-384: 384px;
$size-512: 512px;
$size-640: 640px;
$size-768: 768px;
