@use '../../styles/color';

body.modal-open {
  overflow: hidden;
}

.modal-overlay {
  --bg: rgba(0, 0, 0, 0.5);

  display: none;

  &.modal-open {
    background: var(--bg);
    bottom: 0;
    display: block;
    left: 0;
    overflow: scroll;
    position: fixed;
    right: 0;
    top: 0;
  }
}

.modal {
  --margin: 2rem;
  --bg: #{color.$w};
  --padding: 2rem;

  background-color: var(--bg);
  margin: var(--margin);
  padding: var(--padding);
  position: relative;

  &.modal-hcenter {
    left: calc(50% - var(--margin));
    transform: translateX(-50%);
  }

  &.modal-full {
    height: 100vh;
    margin: 0;
    width: 100vw;
  }

  &.modal-vcenter {
    top: calc(50% - var(--margin));
    transform: translateY(-50%);
  }

  &.modal-hcenter.modal-vcenter {
    transform: translate(-50%, -50%);
  }

  > .modal-content {
    --upper-txt-spacing: 2rem;

    > .modal-heading {
      margin-bottom: var(--upper-txt-spacing);

      &:last-child {
        margin-bottom: 0;
      }
    }

    > p {
      &:first-child {
        margin-top: var(--upper-txt-spacing);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > .modal-close {
    --bottom: auto;
    --font-weight: bold;
    --left: auto;
    --right: 2rem;
    --top: 1.8rem;

    bottom: var(--bottom);
    font-weight: var(--font-weight);
    left: var(--left);
    position: absolute;
    right: var(--right);
    top: var(--top);
  }
}
