body.modal-open {
  overflow: hidden;
}

.modal-overlay {
  display: none;

  &.modal-open {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: block;
    left: 0;
    overflow: scroll;
    position: fixed;
    right: 0;
    top: 0;
  }
}

.modal {
  background-color: #fff;
  margin: 2rem auto;
  padding: 2rem;
  position: relative;
  width: 500px;

  > .modal-content {
    > .modal-heading {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    > p {
      &:first-child {
        margin-top: 2rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > .modal-close {
    font-weight: bold;
    position: absolute;
    right: 2rem;
    top: 1.8rem;
  }
}
