/* General Appearance Utility Classes */
@use './gen';

$data: (
  d: (
    prop: display,
    vals: (
      block: block,
      flex: flex,
      grid: grid,
      inline: inline,
      inline-block: inline-block,
      none: none,
    ),
  ),
  fs: (
    prop: font-size,
    vals: (
      0\.25: 0.25em,
      0\.5: 0.5em,
      0\.75: 0.75em,
      1: 1em,
      1\.25: 1.25em,
      1\.5: 1.5em,
      1\.75: 1.75em,
      2: 2em,
      3: 3em,
      4: 4em,
      5: 5em,
      6: 6em,
      0\.25rem: 0.25rem,
      0\.5rem: 0.5rem,
      0\.75rem: 0.75rem,
      1rem: 1rem,
      1\.25rem: 1.25rem,
      1\.5rem: 1.5rem,
      1\.75rem: 1.75rem,
      2rem: 2rem,
      3rem: 3rem,
      4rem: 4rem,
      5rem: 5rem,
      6rem: 6rem,
      auto: auto,
    ),
  ),
  lh: (
    prop: line-height,
    vals: (
      0\.25: 0.25em,
      0\.5: 0.5em,
      0\.75: 0.75em,
      1: 1em,
      1\.25: 1.25em,
      1\.5: 1.5em,
      1\.75: 1.75em,
      2: 2em,
      3: 3em,
      4: 4em,
      5: 5em,
      6: 6em,
      0\.25rem: 0.25rem,
      0\.5rem: 0.5rem,
      0\.75rem: 0.75rem,
      1rem: 1rem,
      1\.25rem: 1.25rem,
      1\.5rem: 1.5rem,
      1\.75rem: 1.75rem,
      2rem: 2rem,
      3rem: 3rem,
      4rem: 4rem,
      5rem: 5rem,
      6rem: 6rem,
      normal: normal,
    ),
  ),
  tdl: (
    prop: text-decoration-line,
    vals: (
      line-through: line-through,
      none: none,
      overline: overline,
      underline: underline,
    ),
  ),
  tt: (
    prop: text-transform,
    vals: (
      capitalize: capitalize,
      uppercase: uppercase,
      lowercase: lowercase,
      none: none,
    ),
  ),
);

@include gen.gen-classes($data);
