/* General Layout Utility Classes */
@use './gen';

$data: (
  m: (
    prop: margin,
    vals: (
      0: 0,
      0\.25: 0.25em,
      0\.5: 0.5em,
      0\.75: 0.75em,
      1: 1em,
      1\.25: 1.25em,
      1\.5: 1.5em,
      1\.75: 1.75em,
      2: 2em,
      3: 3em,
      4: 4em,
      5: 5em,
      0\.25rem: 0.25rem,
      0\.5rem: 0.5rem,
      0\.75rem: 0.75rem,
      1rem: 1rem,
      1\.25rem: 1.25rem,
      1\.5rem: 1.5rem,
      1\.75rem: 1.75rem,
      2rem: 2rem,
      3rem: 3rem,
      4rem: 4rem,
      5rem: 5rem,
      auto: auto,
    ),
  ),
  mb: (
    prop: margin-bottom,
    vals: (
      0: 0,
      0\.25: 0.25em,
      0\.5: 0.5em,
      0\.75: 0.75em,
      1: 1em,
      1\.25: 1.25em,
      1\.5: 1.5em,
      1\.75: 1.75em,
      2: 2em,
      3: 3em,
      4: 4em,
      5: 5em,
      0\.25rem: 0.25rem,
      0\.5rem: 0.5rem,
      0\.75rem: 0.75rem,
      1rem: 1rem,
      1\.25rem: 1.25rem,
      1\.5rem: 1.5rem,
      1\.75rem: 1.75rem,
      2rem: 2rem,
      3rem: 3rem,
      4rem: 4rem,
      5rem: 5rem,
      auto: auto,
    ),
  ),
  ml: (
    prop: margin-left,
    vals: (
      0: 0,
      0\.25: 0.25em,
      0\.5: 0.5em,
      0\.75: 0.75em,
      1: 1em,
      1\.25: 1.25em,
      1\.5: 1.5em,
      1\.75: 1.75em,
      2: 2em,
      3: 3em,
      4: 4em,
      5: 5em,
      0\.25rem: 0.25rem,
      0\.5rem: 0.5rem,
      0\.75rem: 0.75rem,
      1rem: 1rem,
      1\.25rem: 1.25rem,
      1\.5rem: 1.5rem,
      1\.75rem: 1.75rem,
      2rem: 2rem,
      3rem: 3rem,
      4rem: 4rem,
      5rem: 5rem,
      auto: auto,
    ),
  ),
  mr: (
    prop: margin-right,
    vals: (
      0: 0,
      0\.25: 0.25em,
      0\.5: 0.5em,
      0\.75: 0.75em,
      1: 1em,
      1\.25: 1.25em,
      1\.5: 1.5em,
      1\.75: 1.75em,
      2: 2em,
      3: 3em,
      4: 4em,
      5: 5em,
      0\.25rem: 0.25rem,
      0\.5rem: 0.5rem,
      0\.75rem: 0.75rem,
      1rem: 1rem,
      1\.25rem: 1.25rem,
      1\.5rem: 1.5rem,
      1\.75rem: 1.75rem,
      2rem: 2rem,
      3rem: 3rem,
      4rem: 4rem,
      5rem: 5rem,
      auto: auto,
    ),
  ),
  mt: (
    prop: margin-top,
    vals: (
      0: 0,
      0\.25: 0.25em,
      0\.5: 0.5em,
      0\.75: 0.75em,
      1: 1em,
      1\.25: 1.25em,
      1\.5: 1.5em,
      1\.75: 1.75em,
      2: 2em,
      3: 3em,
      4: 4em,
      5: 5em,
      0\.25rem: 0.25rem,
      0\.5rem: 0.5rem,
      0\.75rem: 0.75rem,
      1rem: 1rem,
      1\.25rem: 1.25rem,
      1\.5rem: 1.5rem,
      1\.75rem: 1.75rem,
      2rem: 2rem,
      3rem: 3rem,
      4rem: 4rem,
      5rem: 5rem,
      auto: auto,
    ),
  ),
  p: (
    prop: padding,
    vals: (
      0: 0,
      0\.25: 0.25em,
      0\.5: 0.5em,
      0\.75: 0.75em,
      1: 1em,
      1\.25: 1.25em,
      1\.5: 1.5em,
      1\.75: 1.75em,
      2: 2em,
      3: 3em,
      4: 4em,
      5: 5em,
      0\.25rem: 0.25rem,
      0\.5rem: 0.5rem,
      0\.75rem: 0.75rem,
      1rem: 1rem,
      1\.25rem: 1.25rem,
      1\.5rem: 1.5rem,
      1\.75rem: 1.75rem,
      2rem: 2rem,
      3rem: 3rem,
      4rem: 4rem,
      5rem: 5rem,
      auto: auto,
    ),
  ),
  pb: (
    prop: padding-bottom,
    vals: (
      0: 0,
      0\.25: 0.25em,
      0\.5: 0.5em,
      0\.75: 0.75em,
      1: 1em,
      1\.25: 1.25em,
      1\.5: 1.5em,
      1\.75: 1.75em,
      2: 2em,
      3: 3em,
      4: 4em,
      5: 5em,
      0\.25rem: 0.25rem,
      0\.5rem: 0.5rem,
      0\.75rem: 0.75rem,
      1rem: 1rem,
      1\.25rem: 1.25rem,
      1\.5rem: 1.5rem,
      1\.75rem: 1.75rem,
      2rem: 2rem,
      3rem: 3rem,
      4rem: 4rem,
      5rem: 5rem,
      auto: auto,
    ),
  ),
  pl: (
    prop: padding-left,
    vals: (
      0: 0,
      0\.25: 0.25em,
      0\.5: 0.5em,
      0\.75: 0.75em,
      1: 1em,
      1\.25: 1.25em,
      1\.5: 1.5em,
      1\.75: 1.75em,
      2: 2em,
      3: 3em,
      4: 4em,
      5: 5em,
      0\.25rem: 0.25rem,
      0\.5rem: 0.5rem,
      0\.75rem: 0.75rem,
      1rem: 1rem,
      1\.25rem: 1.25rem,
      1\.5rem: 1.5rem,
      1\.75rem: 1.75rem,
      2rem: 2rem,
      3rem: 3rem,
      4rem: 4rem,
      5rem: 5rem,
      auto: auto,
    ),
  ),
  pr: (
    prop: padding-right,
    vals: (
      0: 0,
      0\.25: 0.25em,
      0\.5: 0.5em,
      0\.75: 0.75em,
      1: 1em,
      1\.25: 1.25em,
      1\.5: 1.5em,
      1\.75: 1.75em,
      2: 2em,
      3: 3em,
      4: 4em,
      5: 5em,
      1rem: 1rem,
      1\.25rem: 1.25rem,
      1\.5rem: 1.5rem,
      1\.75rem: 1.75rem,
      2rem: 2rem,
      3rem: 3rem,
      4rem: 4rem,
      5rem: 5rem,
      auto: auto,
    ),
  ),
  pt: (
    prop: padding-top,
    vals: (
      0: 0,
      0\.25: 0.25em,
      0\.5: 0.5em,
      0\.75: 0.75em,
      1: 1em,
      1\.25: 1.25em,
      1\.5: 1.5em,
      1\.75: 1.75em,
      2: 2em,
      3: 3em,
      4: 4em,
      5: 5em,
      0\.25rem: 0.25rem,
      0\.5rem: 0.5rem,
      0\.75rem: 0.75rem,
      1rem: 1rem,
      1\.25rem: 1.25rem,
      1\.5rem: 1.5rem,
      1\.75rem: 1.75rem,
      2rem: 2rem,
      3rem: 3rem,
      4rem: 4rem,
      5rem: 5rem,
      auto: auto,
    ),
  ),
);

@include gen.gen-classes($data);
